//fade effect mixin
@mixin faded_black() {
	background: linear-gradient(to bottom, rgba(0,0,0,.7) 20% , rgba(0,0,0,.3) );
}

//Bellefair font (Google font)
$bellefair: 'Bellefair', serif;

.container {
	@include xy-grid-container();
}

.site-header {
	background-size: cover;
	position: relative;
	height: 100vh;
	background-image: url(../img/featured/small/home.jpg);
	@include breakpoint(medium) {
		background-image: url(../img/featured/medium/home.jpg);
	}
	@include breakpoint(large) {
		background-image: url(../img/featured/large/home.jpg);
	}
	.header-content {
		padding-top: rem-calc(30);
		/* mixin below - note: this one uses padding "units" */
		/* @include padding(2); */
		.top-section {
			@include xy-grid();
			@include flex-align(center);
			position: relative;
			z-index: 1;

			.logo {
				@include xy-cell(6);
				@include flex-align(center);
				@include breakpoint(medium) {
					@include xy-cell(25%);
				}
				img {
					@include flex-align
				}
			}
		}
		.bottom-section {
			@include margin(3);
			@include breakpoint(medium) {
				height: rem-calc(230);
				@include flex();
				@include flex-align(center, bottom);
			}
			.slogan {
				color: $white;
				position: relative;
				z-index: 1;
				text-align: center;
				@include font-bold(900);
				/* text-transform: uppercase; */
				/* mixin for this below */
				@include text-transform(uppercase);
			}
		}

		&:after {
			@include faded_black();
			@include position(absolute, 0,0,0,0);
			content: '';
			/* width: 100%;
			height: 100%; */
			/* mixin to replace above */
			@include box(100%, 100%);
			min-height: rem-calc(600);
		}
	}
}

.menus {
	@include xy-cell();
	@include breakpoint(medium) {
		/* was this, but then he changed it to below @include xy-cell(75%); */
		@include xy-cell(auto);
	}
	// social menu
	.social-menu {
		@include menu-base();
		@include flex-align(center, middle);
		@include breakpoint(medium) {
		 	@include flex-align(right, middle);
		}
		a {
			&:before {
				display: inline-block;
				font-family: 'Fontawesome';
				font-size: rem-calc(30);
				color: $white;
				-webkit-font-smoothing: antialiased;
				content: '\f08e';
			}
			&[href*="facebook.com"]::before { content: '\f082'; }
			&[href*="twitter.com"]::before { content: '\f099'; }
			&[href*="instagram.com"]::before { content: '\f16d'; }
			&[href*="youtube.com"]::before { content: '\f16a'; }
		}
	}

	.title-bar {
		/* the 'darken' stuff is sass */
		background-color: darken($primary-color, 10);
	}

	// Main Navigation for interior pages
	.main-navigation {
		@include menu-base();
		@include flex-align(right, middle);
		@include breakpoint(small only){
			background-color: $primary-color;
		}
		li {
			@include breakpoint(small only){
				width: 100%;
				text-align: center;
			}
			a {
				@include text-transform(uppercase);
				@include font-bold(700);
				font-size: rem-calc(16);

				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
}

// Animation Menu
// from github.com/zurb/motion-ui

.menu-in {
	/* @include mui-zoom(in, .1, 1); */
	/* @include mui-slide(); */
	@include mui-fade(in, .1, 1);
}

.menu-out {
	@include mui-zoom(out, 1, .1, true, .5s, ease);
}

