

.site-header {
	background-image: url(../img/featured/small/home.jpg);
	@include breakpoint(medium) {
		background-image: url(../img/featured/medium/home.jpg);
	}
	@include breakpoint(large) {
		background-image: url(../img/featured/large/home.jpg);
	}
	background-size: cover;
	height: 100vh;
}