//fade effect mixin
@mixin faded_black() {
	background: linear-gradient(to bottom, rgba(0,0,0,.7) 20% , rgba(0,0,0,.3) );
}

@mixin background_image($page) {
	background-image: url(../img/featured/small/#{$page}.jpg);
	@include breakpoint(medium) {
		background-image: url(../img/featured/medium/#{$page}.jpg);
	}
	@include breakpoint(large) {
		background-image: url(../img/featured/large/#{$page}.jpg);
	}
}

//Bellefair font (Google font)
$bellefair: 'Bellefair', serif;

.container {
	@include xy-grid-container();
}

.main-content {
	background-color: $white;
	padding: rem-calc(5);
	@include breakpoint(medium) {
		margin-top: rem-calc(-120);
		position: relative;
		padding: rem-calc(50 80);
	}
}

.site-header {
	background-size: cover;
	position: relative;
	height: 100vh;
	&.homepage {
		@include background_image(home);
	}
	&.about {
		@include background_image(about);
	}
	&.contact {
		@include background_image(contact);
	}
	&.menu {
		@include background_image(menu);
	}
	&.gallery {
		@include background_image(gallery);
	}
	&.process {
		@include background_image(process);
	}
	.header-content {
		padding-top: rem-calc(30);
		/* mixin below - note: this one uses padding "units" */
		/* @include padding(2); */
		.top-section {
			@include xy-grid();
			@include flex-align(center);
			position: relative;
			z-index: 1;

			.logo {
				@include xy-cell(6);
				@include flex-align(center);
				@include breakpoint(medium) {
					@include xy-cell(25%);
				}
				img {
					@include flex-align
				}
			}
		}
		.bottom-section {
			@include margin(3);
			@include breakpoint(medium) {
				height: rem-calc(230);
				@include flex();
				@include flex-align(center, bottom);
			}
			.slogan {
				color: $white;
				position: relative;
				z-index: 1;
				text-align: center;
				@include font-bold(900);
				/* text-transform: uppercase; */
				/* mixin for this below */
				@include text-transform(uppercase);
			}
		}

		&:after {
			@include faded_black();
			@include position(absolute, 0,0,0,0);
			content: '';
			/* width: 100%;
			height: 100%; */
			/* mixin to replace above */
			@include box(100%, 100%);
			min-height: rem-calc(600);
		}
	}
}

.menus {
	@include xy-cell();
	@include breakpoint(medium) {
		/* was this, but then he changed it to below @include xy-cell(75%); */
		@include xy-cell(auto);
	}
	// social menu
	.social-menu {
		@include menu-base();
		@include flex-align(center, middle);
		@include breakpoint(medium) {
		 	@include flex-align(right, middle);
		}
		a {
			&:before {
				display: inline-block;
				font-family: 'Fontawesome';
				font-size: rem-calc(30);
				color: $white;
				-webkit-font-smoothing: antialiased;
				content: '\f08e';
			}
			&[href*="facebook.com"]::before { content: '\f082'; }
			&[href*="twitter.com"]::before { content: '\f099'; }
			&[href*="instagram.com"]::before { content: '\f16d'; }
			&[href*="youtube.com"]::before { content: '\f16a'; }
		}
	}

	.title-bar {
		/* the 'darken' stuff is sass */
		background-color: darken($primary-color, 10);
	}

	// Main Navigation for interior pages
	.main-navigation {
		@include menu-base();
		@include flex-align(right, middle);
		@include breakpoint(small only){
			background-color: $primary-color;
		}
		li {
			@include breakpoint(small only){
				width: 100%;
				text-align: center;
			}
			a {
				@include text-transform(uppercase);
				@include font-bold(700);
				font-size: rem-calc(16);

				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
}

// Animation Menu
// from github.com/zurb/motion-ui

.menu-in {
	/* @include mui-zoom(in, .1, 1); */
	/* @include mui-slide(); */
	@include mui-fade(in, .1, 1);
}

.menu-out {
	@include mui-zoom(out, 1, .1, true, .5s, ease);
}



// Footer
.site-footer {
	background-color: $primary-color;

	.container {
		background-color: $white;

		.footer-content {
			@include xy-grid();
			@include padding(2, 2, 4, 2);
			.footer-box {
				@include xy-cell();
				@include breakpoint(small only) {
					margin-bottom: rem-calc(10);
				}
				@include breakpoint(medium) {
					@include xy-cell(4);
				}
				text-align: center;
				h3 {
					color: $secondary-color;
					font-family: $bellefair;
					@include text-transform(uppercase);
				}
				p {
					margin: 0;
				}
			}
		}
	}
	.copyright {
		margin: 0;
		color: $white;
		text-align: center;
		font-size: rem-calc(18);
		@include padding(1, null, 1, null);
		@include font-bold(900);
	}
}

.heading-title {
	color: $secondary-color;
	text-align: center;
	@include font-bold(900);
	@include text-transform(uppercase);
	font-size: rem-calc(18);
	margin-top: rem-calc(40);
	margin-bottom: rem-calc(100);
	width: 100%;
	span {
		color: $primary-color;
		font-size: rem-calc(38);
		display: table;
		margin: 0 auto;
	}
	&:after {
		content: '';
		/* to put everything in a box */
		@include box(rem-calc(80), rem-calc(80));
		background-image: url(../img/coffee.svg);
		background-size: rem-calc(80);
		background-repeat: no-repeat;
		@include horizontal-center();
		margin-top: rem-calc(-15);
	}
}

/*  ==== Internal Pages  ====  */

/*  About Us  */

main.page-about {
	@include xy-grid();
	@include flex-align(justify,top);
	.image {
		@include xy-cell();
		@include breakpoint(medium) {
			@include xy-cell(50%);
		}
		.image-effect {
			@include rotate(-10);
			border: rem-calc(10) solid $white;
			@include shadow();
			width: 90%;
			@include breakpoint(small only) {
				margin-bottom: rem-calc(70);
			}
		}
	}
	.page-content {
		@include xy-cell();
		@include breakpoint(medium) {
			@include xy-cell(50%);
		}

		p {
			font-size: rem-calc(16);
			line-height: rem-calc(40);
		}
		blockquote {
			font-size: rem-calc(30);
		}
	}
}


/*  Process  */

.page-process {
	.process-container {
		@include xy-grid();
		.process-item {
			@include xy-gutters($gutter-position: bottom);
			@include xy-cell();
			@include breakpoint(medium) {
				@include xy-cell(6);
			}
		}
		@include breakpoint(medium) {
			@include odd() {
				.process-image {
					order: 2;
				}
				.process-content {
					order: 1;
				}
			}
		}
	}
	.process-content {
		h3 {
			color: $primary-color;
			@include margin(1);
			@include text-transform(uppercase);
			@include font-bold(900);
			&:after {
				width: rem-calc(200);
				height: rem-calc(2);
				background-color: $secondary-color;
				content: '';
				display: block;
				margin-top: rem-calc(10);
			}
		}
		p {
			font-size: rem-calc(18);
			line-height: rem-calc(38);
			margin-top: rem-calc(30);
		}
	}
}




